body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}

#load{
    height:400px;
    width: 600px;
    background-color: beige;
    margin: 10%; 
}



li{
    width:80px;
    height: 80px;
    border-radius: 100%;
    background-color:burlywood;
    margin:10px;
    display: inline-block;
}

